@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    
    
}
/*
.-classe
#-id
*/
body{
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B4B4B8;
}
main{
   
    display: flex;
    gap: 10%;
        
}
.__cabecalho{
    background-color:#D8DFE8;
    text-align: center;
    color:#36292C;;
    width: 100%;
    text-align: center;
    
}
#__digitar-mensagem{
    margin: 5% 0% 5% 5%;
    color:#0A3871;
    background-color:  #B4B4B8;
    border: none; /* Remove a borda */
    resize: none; /* Impede o redimensionamento */
    outline: none;
    font-size: 15px;
}
::placeholder{
    Color:#0A3871;
    font-size: 25px;

}
#__mensagem1{
    color: black;
    text-align: center;   
 
}
#__mensagem2{
    color: #495057;
    text-align: center;    
}
.__painel{
    background-color: #D8DFE8;
    margin: 3% 15% 5% 0%;
    border-radius: 18px;
 }
#__imagem-tux{
    background-color: #D8DFE8;
    margin-top: 0%;
    position: relative;
    border:#D8DFE8;
    border-width: 100px;
    border-radius: 18px;
    
}
#__aviso{


    
}
#__button-copy{
    font-family:'Inter', sans-serif;
    font-size: 16px;
    align-items: center;
    background-color: lawngreen;
    color: black;
    padding: 2%;
    width: 15%;
    height: 7%;
    border-radius: 18px;
    position: relative;
    margin:0% 0% 0% 40% ;
 
}

.__button{
font-family:'Inter', sans-serif;
font-size: 16px;
margin: 15% 0% 5% 15%;
display: flex;
gap:10%;

    
}

#__button-primeiro{
    background-color: #0A3871;
    color: #FFFFFF;
    padding: 2%;
    width: 50%;
    height: 50%;
    border-radius: 18px;



}
#__button-segundo{
    background-color: #D8DFE8;
    padding: 2%;
    width: 50%;
    height: 50%;
    border-radius: 18px;
 

}
.__rodape{
    background-color:#D8DFE8;
    display: block;
    gap: 10%;
    text-align: center;
width: auto;    
}
