@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    
    
}
/*
.-classe
#-id
*/
body{
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
}
main{
   
    display: flex;
    gap: 15%;
        
}
.__cabecalho{
    background-color: rgb(29, 214, 4);
    text-align: center;
    margin: 0.8% 0% 0% 5%;
    color:blue;
    border-radius: 18px;
    width: 90%;
}
#__digitar-mensagem{
    margin: 15% 0% 5% 15%;
    color:#0A3871;
    background-color: #E5E5E5;
    border: none; /* Remove a borda */
    resize: none; /* Impede o redimensionamento */
    outline: none;
    
   
}
::placeholder{
    Color:#0A3871;

}
#__mensagem1{
    color: black;
    text-align: center;   
 
}
#__mensagem2{
    color: #495057;
    text-align: center;    
}
.__painel{
    background-color: #FFFFFF;
    margin: 3% 15% 5% 0%;
    border-radius: 18px;
 }
#__imagem-tux{
    background-color: white;
    margin-top: 5%;
    position: relative;
    border: #0A3871;
    border-width: 100px;
}

.__button{
font-family:'Inter', sans-serif;
font-size: 16px;
margin: 15% 0% 5% 15%;
display: flex;
gap:10%;

    
}

#__button-primeiro{
    background-color: #0A3871;
    color: #FFFFFF;
    padding: 2%;
    width: 50%;
    height: 50%;
    border-radius: 18px;



}
#__button-segundo{
    background-color: #D8DFE8;
    padding: 2%;
    width: 50%;
    height: 50%;
    border-radius: 18px;
 

}
.__rodape{
    background-color:#D8DFE8;
    display: block;
    gap: 10%;
    text-align: center;
width: auto;    
}
